

{{ form_start(form) }}
    {{ form_row(form)}}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="form-group">
    <button class="btn btn-success" type="submit">valider</button>
</div>

{{ form_end(form) }}